[2017-11-29 19:39] mariobehling opened #5 "Update languages"
Take out European languages. And add Asian languages:

Keep:
* Esperanto
* Español
* Français
* Türkçe
* 正體中文（臺灣）

Add:
* Tiếng Việt - vi
* Bahasa Melayu - ms
* Bahasa Indonesia - id

[2017-11-29 20:30] mariobehling opened #7 "Delete logos except FOSSASIA logo"
We need to contact orgs first before we add them here.

[2017-11-29 20:31] mariobehling opened #8 "Change favicon ico to reflect logo"

[2017-11-29 20:32] mariobehling opened #9 "Take out GNU Social and Diaspora"
These are not used in Asia.

[2017-11-29 20:32] mariobehling opened #10 "Adapt the Twitter to FOSSASIA"
FOSSASIA Twitter

[2017-11-29 20:35] mariobehling opened #11 "Improve Bottom and Create Imprint Page"
* Take out link (FSFE)
* Take out "Transparency"
* Create Imprint Page and link it on the bottom

[2017-11-29 23:57] #5 closed

[2017-11-30 00:16] mariobehling opened #16 "Create a new Imprint page instead of a forward"
The imprint page should be on the website instead of an external site. Ensure different languages are supported.

[2017-11-30 09:31] sayak119 commented on #9
@mariobehling  I would like to work on this issue

[2017-11-30 09:31] sayak119 commented on #7
@mariobehling I would like to work on this

[2017-11-30 09:32] sayak119 commented on #10
@mariobehling I would like to work on this issue

[2017-11-30 09:32] sayak119 commented on #8
@mariobehling I would like to work on this

[2017-11-30 10:28] sayak119 commented on #11
@mariobehling Can you give more information about the imprint page

[2017-11-30 10:55] #7 closed

[2017-11-30 10:58] #9 closed

[2017-11-30 11:04] sayak119 commented on #8
@Kreijstal is this just a renaming issue ?

[2017-11-30 11:24] mariobehling commented on #8
Done already.

[2017-11-30 11:24] #8 closed

[2017-11-30 11:37] mariobehling opened #22 "Clicking on the links for social media redirects - Implement without redirect."
Clicking on the social media links directs users to fsfe.org. Implement a sharing way without this redirect.

[2017-11-30 11:38] mariobehling opened #23 "Add Google and Linkedin as sharing options"
- Add Google+
- Add Linkedin

[2017-11-30 11:39] mariobehling opened #24 "Create empty versions for Indian languages"
Please add the language version for the major Indian languages.

The content can be added later, but the sample files should be created.

[2017-11-30 11:57] sayak119 commented on #23
@mariobehling  i would like to work on this

[2017-11-30 12:19] sayak119 commented on #22
![screencast_thursday-30-november-2017_05_41_03-ist](https://user-images.githubusercontent.com/28414920/33430382-637d99a2-d5f6-11e7-8c24-1050e6fedcdd.gif)

Its not redirecting to fsfe.org

[2017-11-30 12:23] mariobehling opened #25 "Fix bluish color in section "REASONS FOR PUBLIC CODE""
* Change dash below heading to same color as heading
* Also fix line color in area SUPPORTING ORGANISATIONS
* Make semi-transparent blue into gray (similar to greay areas at fossasia.org)

![screenshot from 2017-11-30 13-22-21](https://user-images.githubusercontent.com/1583873/33430644-89a75296-d5d1-11e7-8e66-ff4faa4a79da.png)

[2017-11-30 12:24] sayak119 commented on #24
@mariobehling I would  like to work on this issue

[2017-11-30 12:26] mariobehling commented on #22
As you can see in your gif, it is shortly connecting to fsfe.org.

[2017-11-30 12:30] Kreijstal commented on #22
@sayak119 See the HTML source code that there are still references to fsfe.org

[2017-11-30 12:39] mariobehling commented on #22
`<form action="https://fsfe.org/share" method="GET" class="share-buttons spread" target="_blank">
  <input name="popup" id="no-share-popup-spread" type="radio">
  <input name="ref" value="pmpc-spread" type="hidden">
  <input name="url" value="https://publiccode.asia/" type="hidden">
  <input id="sharetitle-spread" name="title" value="If it is public money, it should be public code as well! I suppo

[2017-11-30 12:48] mariobehling opened #26 "Change Signup form"
* Change Zip to Region/City
* Add field "Organization"

[2017-11-30 13:18] mariobehling opened #27 "Take out "Transparency" from bottom"
No need for Transparency.

![screenshot from 2017-11-30 14-17-42](https://user-images.githubusercontent.com/1583873/33432725-6d1ec26e-d5d9-11e7-9682-d37ad9df306d.png)

[2017-11-30 13:19] mariobehling commented on #23
@sayak119 Please only claim one issue at a time.

[2017-11-30 13:22] mariobehling opened #28 "Implement header style transparent/semi-transparent"
Implement the same functionality as in the transparent/semi-transparent header on FOSSASIA.org.
* Ensure there are two logo versions, that change the color
* Ensure the font changes the color as needed

![screenshot from 2017-11-30 14-20-21](https://user-images.githubusercontent.com/1583873/33432873-e636928a-d5d9-11e7-95f1-55893eba5b55.png)

[2017-11-30 22:02] sayak119 commented on #24
`Error: While parsing config: (1406, 1): unexpected token`

Can you please help me with this. I get this when i run ./build.sh server . I have made a strings.hi.toml (for hindi) and added yaml files in site/data/share/hi . Also added hi in build.sh and made md files in site/content accordingly

[2017-11-30 23:27] #25 closed

[2017-12-01 00:06] mariobehling opened #31 "Rename "Open Letter" to "Open Initiative""
* Rename "Open Letter" to "Open Initiative"
* Ensure capital words stay capital
* change URL /openletter to /openinitiative

[2017-12-01 07:42] Kanav-7 commented on #27
@mariobehling I would like to work on this.

[2017-12-01 11:22] sayak119 opened #35 "Broken Links in README.md"
Links redirect to Page 404

[2017-12-01 12:01] #35 closed

[2017-12-01 12:02] #31 closed

[2017-12-01 12:04] #27 closed

[2017-12-01 12:11] tabesin opened #37 "OpenInitiative link"
The OL to "Open Initiative" transition broke the link:
https://publiccode.asia/openinitiative/

[2017-12-01 14:06] #37 closed

[2017-12-01 14:06] #26 closed

[2017-12-01 19:44] sayak119 commented on #10
@mariobehling can you give some more clarification for this issue

[2017-12-02 00:45] #24 closed

[2017-12-03 20:11] mariobehling opened #47 "Change video and all related links"
The links of the videos are currently good for a EU campaign. Please adapt it for the .asia initiative.

[2017-12-03 21:46] engrravijain commented on #47
hey !! i would like to work on this but before that can i know about EU campaign and the .asia initiative

[2017-12-03 21:49] engrravijain commented on #23
@sayak119 are you still working on this issue? if not can i ?

[2017-12-04 06:33] sayak119 commented on #23
@engrravijain You can work on the linked in part. I am already working on the google+ part

[2017-12-04 07:22] sayak119 opened #50 "Replace Europe with Asia"

[2017-12-04 08:38] engrravijain commented on #23
@sayak119 ohk I'll work on that

[2017-12-04 10:08] #50 closed

[2017-12-04 16:07] sayak119 commented on #47
@engrravijain please visit https://publiccode.asia/ for more information about this campaign.

[2017-12-04 20:23] sayak119 opened #54 "Social media links redirect to Fossasia.org"
Social media links redirect to Fossasia's 404 page

[2017-12-04 22:14] #54 closed

[2017-12-04 22:15] mariobehling commented on #54
I don't understand what exactly you want to say.

[2017-12-04 23:07] #16 closed

[2017-12-05 11:04] 0x48piraj commented on #10
I'm on it @mariobehling :+1:

[2017-12-05 11:25] 0x48piraj commented on #23
I'm on it :+1:

[2017-12-05 14:42] kubami9 commented on #28
Working on it 👍

[2017-12-05 15:20] abishekvashok commented on #11
@mariobehling I would love tow rok on it but what's an impprint page? What do you expect, I mean is it a trader's page?

[2017-12-05 21:35] #22 closed

[2017-12-05 22:54] mariobehling opened #60 "Substitute EURO Symbol with Dollar Symbol"
There is a EURO symbol. As more countries use the Dollar symbol in Asia it would be more suitable. Please change it.

![screenshot from 2017-12-05 23-51-26](https://user-images.githubusercontent.com/1583873/33635276-9b01c04a-da17-11e7-85ef-dec71c945c10.png)

[2017-12-06 06:19] sayak119 commented on #60
@mariobehling I would like to work on this issue

[2017-12-06 07:32] sayak119 opened #62 "Become a supporter button redirection"
@mariobehling where should the "Become a supporter" button direct to ? Currently it's a dead button.

[2017-12-06 08:43] kubami9 commented on #28
I made a pull request :)

[2017-12-06 13:12] Remorax opened #66 "Hindi translation not working"
On clicking Hindi translation, the site doesn't translate it. Instead it shows the page in English only.
Hindi translation needs to be added.
I would like to work on this :)

[2017-12-06 13:25] #60 closed

[2017-12-06 19:28] #23 closed

[2017-12-06 19:32] #10 closed

[2017-12-06 19:32] #11 closed

[2017-12-06 19:48] mariobehling opened #68 "Supporter Box: Add a donate with Paypal popup as Lightbox"
Currently the support button does not have a function. Please add a small "Donate with Paypal" pop-up box, that uses a Lightbox.

[2017-12-06 19:56] #62 closed

[2017-12-07 10:00] kubami9 opened #69 "Add Polish translation"
# Goal
Polish translation added to the website.

# Right now
Currently there is no Polish language on the website.

# So...?
I'm ready to start working on Polish translation as soon as my previous PR will be merged 😄

[2017-12-07 12:21] Remorax opened #70 "Lack of template for issue or PR"
There is no template for creating an issue or a PR.
This needs to be created ASAP.
I would like to work on this, and I'll make a PR for the same by tomorrow :)

[2017-12-07 22:46] mariobehling commented on #70
This is not a traditional software project. So, we dont need the same kind of issue and PR templates. Closing it therefore as it is not relevant here.

[2017-12-07 22:46] #70 closed

[2017-12-07 22:48] #28 closed

[2017-12-08 04:44] Remorax commented on #70
Alright. But I still feel there needs to be some kind of structure.
For instance, an issue may need screenshots and steps to reproduce, while a PR may need screenshots and a description for the changes made.
Do let me know what should be done. Thanks :)

[2017-12-08 14:33] mariobehling commented on #66
The content of this file is still missing: https://github.com/fossasia/publiccode.asia/blob/master/site/content/openinitiative.en.md

[2017-12-08 14:35] Remorax opened #73 "Gujarati and Tamil translation"
Gujarati and Tamil translation do not work.
I would like to work on this.

[2017-12-08 14:35] mariobehling commented on #68
Please use the Paypal code here for the popup: https://github.com/fossasia/fossasia.org/blob/gh-pages/donate.html#L259

[2017-12-08 14:44] Remorax commented on #66
I'll do that.
Just wanted to confirm though, I have to copy the contents of that file to openinitiative.hi.md and then translate it, right?

[2017-12-08 14:56] mariobehling opened #74 "Make top left logos work in different language versions"
The top left logo currently does not work in different languages.

![screenshot from 2017-12-08 15-55-45](https://user-images.githubusercontent.com/1583873/33771184-62f05f0c-dc30-11e7-8606-b0b40b80acdf.png)

[2017-12-08 19:20] sayak119 commented on #74
@mariobehling I would like to work on this issue

[2017-12-08 20:15] kubami9 commented on #69
I start working on it

[2017-12-09 09:47] Remorax opened #77 "Dark Logo not loading in non-English languages"
The image logo_dark.svg is not loading when you view the site in any language that's not English.

Steps to reproduce the bug:
1. Click on any language other than English, for instance, Deutsch.
2. Scroll up and down till you get the text "Logo of the campaign" in place of the logo image

Screenshots:
![screen shot 2017-12-09 at 3 16 55 pm](https://user-images.githubusercontent.com/26062692/337945

[2017-12-09 10:01] Remorax commented on #74
I would like to work on this :)

[2017-12-09 10:01] #77 closed

[2017-12-09 10:02] Remorax commented on #77
Closing this issue as it is the duplicate of #74

[2017-12-09 10:45] sayak119 opened #78 "Add "Following initiatives..." line to every language and change URL of the directed page when clicking on "across the globe""
English:
![screenshot from 2017-12-09 16-02-26](https://user-images.githubusercontent.com/28414920/33794912-1759eaba-dcfb-11e7-855b-36b425e671b8.png)

German:
![screenshot from 2017-12-09 16-05-36](https://user-images.githubusercontent.com/28414920/33794914-20472f52-dcfb-11e7-9b64-f6d8675c421d.png)

**across the globe -> directs to publiccode.asia . It should point to publiccode.eu**

[2017-12-10 22:06] #73 closed

[2017-12-10 22:06] #66 closed

[2017-12-10 22:11] #74 closed

[2017-12-11 11:42] kubami9 commented on #68
Working on it 😄

[2017-12-11 11:46] kubami9 commented on #68
Should Lightbox contain this image at the bottom as it is in the preview image?
https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif

[2017-12-11 12:38] kubami9 commented on #68
And in which file can I find html to the buttons?

[2017-12-11 14:08] Remorax commented on #47
I would like to work on this issue, if no one is working on it :) @engrravijain @sayak119
Also, can someone please elaborate on what exactly is to be done here?
There's only one video on the page, the one in the about section, as far as I can see. What changes exactly need to be made to this video?

[2017-12-12 00:13] #78 closed

[2017-12-12 12:30] kubami9 commented on #68
Okay, I know :)

[2017-12-12 16:16] flaredragon opened #84 "Navbar Is Transparent and overlaps existing content"
![screenshot from 2017-12-12 21-41-50](https://user-images.githubusercontent.com/29121452/33895009-6db637ec-df85-11e7-8417-1581fa92322d.png)

Issue-
The Navbar Is Transparent and overlaps existing content

I would like to work on this Issue.

[2017-12-12 17:19] naveentherocker opened #85 "Add Tamil Translation"
No Tamil Translation

[2017-12-13 10:45] duttaditya18 commented on #84
@flaredragon The navbar is transparent when the user is at the top of the page. Do not change that.
However if it is overlapping existing content. Please do fix that!
Good luck! 😄

[2017-12-13 19:30] #85 closed

[2017-12-13 19:31] #69 closed

[2017-12-13 21:47] mariobehling opened #93 "Top logo color not changing on subpages"
The top left logo changes the color when the page is scrolled. This only works on the start page.

![screenshot from 2017-12-13 22-46-43](https://user-images.githubusercontent.com/1583873/33964096-9cec76f2-e057-11e7-8ebe-36c7c44ed7ba.png)

[2017-12-14 10:01] duttaditya18 commented on #93
So. What should happen? It should not change color?

[2017-12-14 19:05] mariobehling opened #95 "Add organization and add link (make organization linkable)"
![screenshot from 2017-12-14 19-54-53](https://user-images.githubusercontent.com/1583873/34009654-031cb416-e10a-11e7-9132-8e0bb5030650.png)

[2017-12-14 21:03] mariobehling commented on #68
Thanks!

Please also improve on some small items for the box:

* The heart needs to be back
* On small screens the box is to much to the bottom
* The mobile version needs to be tested (buttons are moved around)
* There should be a slight gray overlay on the site

![screenshot from 2017-12-14 22-01-50](https://user-images.githubusercontent.com/1583873/34014149-6907d732-e11a-11e7-8a1f-2a94aa81118f.p

[2017-12-14 22:39] sayak119 commented on #95
@mariobehling can you please clarify on the link part ?

[2017-12-15 09:59] YashKumarVerma opened #97 "More Animations to Site"
The site uses animate.css but the animations are currently applied to very limited elements.

The animations should be added to almost the complete site, using simple flat animations like fadein.

Shall i work for the same ?

[2017-12-15 10:44] vaibhavsingh97 commented on #97
@YashKumarVerma It depends how you referring to. If it increase the UX then please go ahead and make a PR and add the detailed comment (what you added/modified ) and deployment link.
Screenshots with some marks where we can see the changes will be a plus.
Good luck

[2017-12-15 11:31] Remorax commented on #93
I would like to work on this

[2017-12-15 13:32] duttaditya18 commented on #93
@Remorax Go on!

[2017-12-16 07:31] Remorax opened #100 "Add Bengali and Telugu translations"
Bengali and Telugu translations need to be added
I would like to work on this issue

[2017-12-17 17:12] YashKumarVerma commented on #97
sure thing @vaibhavsingh97

[2017-12-18 19:25] #93 closed

[2017-12-20 02:22] yashNadun opened #105 "Add Sinhala Language"
Sinhala Language has not added to the repo.
I like to work on this.

[2017-12-20 18:35] dhruvramdev opened #106 "Organisation Section : Weird Behavior on Clicking."
On the Supporting Organisation Sections , on clicking the fa-expand icon , the div overlaps the next section content. Happens in both homepage and /openinitiative/ page.

![2017-12-20](https://user-images.githubusercontent.com/20574839/34222711-75f938ce-e5e2-11e7-90d0-42cc597eec10.png)
![2017-12-20 1](https://user-images.githubusercontent.com/20574839/34222710-75c1f9f4-e5e2-11e7-80a1-80c350dfb317.

[2017-12-20 18:37] dhruvramdev commented on #68
The Box Doesn't Closes on Clicking on Close Icon.

[code]

[2017-12-21 08:20] 0x48piraj opened #107 "Download Materials goes to Github instead of downloading the files."
**The website should be pin pointed.**

It's navigating to github where to download files you have to individually download each file and downloading is messy. _(5-6 steps, to much for an organisation)_

![image](https://user-images.githubusercontent.com/5800726/34246681-a0adf884-e655-11e7-9eff-6d16b4aeaae8.png)

[2017-12-21 08:20] 0x48piraj commented on #107
On it!

[2017-12-21 08:27] 0x48piraj commented on #107
Done! :+1:

[2017-12-21 09:31] 0x48piraj commented on #47
@mariobehling @sayak119
Can you please give me the url of EU Campaign ?
It will help me to be in a right path.

[2017-12-21 09:46] sayak119 commented on #47
@0x48piraj its https://publiccode.eu/ :smile:

[2017-12-21 10:07] 0x48piraj commented on #47
@sayak119
![image](https://user-images.githubusercontent.com/5800726/34251087-e166f560-e664-11e7-823f-5f5a7a5fa15c.png)

[2017-12-21 10:23] sayak119 commented on #47
![screenshot from 2017-12-21 15-52-34](https://user-images.githubusercontent.com/28414920/34251718-fc788790-e666-11e7-9632-d7f8998c59f1.png)

@0x48piraj

[2017-12-21 10:28] 0x48piraj commented on #47
Seems like it hated my region. A simple proxy did his work. :smile:

[2017-12-21 11:57] Remorax opened #109 "Paypal close button doesn't work"
The close button of the Paypal pop-up doesn't work.
This needs to be fixed.
I would like to work on this.

[2017-12-24 01:51] naveentherocker commented on #105
@yashNadun I think it's better to give that chance to a GCI contestant.

[2017-12-24 06:59] STEdirisuriya commented on #105
I am working

[2017-12-24 14:26] yashNadun commented on #105
no problem @naveentherocker

[2017-12-25 19:12] samyakbvs opened #112 "Add german translation"

[2017-12-25 19:14] samyakbvs commented on #112
German translation added

[2017-12-26 00:48] naveentherocker opened #113 "No Documentation about Contributor Best Practices"
It would be easy for Contributors if there is Documentation regarding Contributor Best Practices in this Repo.

[2017-12-26 13:06] duttaditya18 opened #116 "Weird Alignment Issue of Donate Lightbox"
### Problem :
There is weird alignment on the Donate Lightbox and it is also not responsive.

#### I am working on it.

[2017-12-27 12:46] Ploypiti opened #118 "Expand button intercept the Spread the world section on click"
_Expand_ button below _supporting organization_ covered the _Spread the world_ section when clicked, besides the button itself is pretty useless since there's nothing to expand.

![image](https://user-images.githubusercontent.com/32614202/34381959-661e59fa-eb3e-11e7-8555-1dbab44d0f94.png)

Working on it.

[2017-12-27 18:50] duttaditya18 commented on #118
This issue is a copy of #106
#117 Fixes this.

[2017-12-27 18:51] duttaditya18 commented on #107
Close this as well.

[2017-12-28 02:13] #118 closed

[2017-12-29 18:24] arjunpandey2003 commented on #112
German translation already present

[2017-12-29 18:25] arjunpandey2003 opened #120 "Add Russian translation"

[2017-12-29 18:39] #120 closed

[2018-01-01 20:38] #109 closed

[2018-01-01 20:39] #113 closed

[2018-01-02 16:13] naveentherocker opened #123 "Add .editorconfig for linting purposes"
Linting Purpose for Javascript, CSS and HTML Files

[2018-01-02 22:27] mariobehling opened #126 "Add credit card functionlities"
Credit card donations are missing. Please add it.

[2018-01-02 22:34] mariobehling opened #127 "Add Paypal Payments for Donations"
Paypal is not yet functional. Please add it.

[2018-01-02 22:34] mariobehling commented on #123
Does not make sense right now. Please add it yourself to gitignore.

[2018-01-02 22:34] #123 closed

[2018-01-03 14:56] naveentherocker opened #129 "Add Caching to Travis CI"
You can speed up the Travis Build by Adding Cache to it.

[2018-01-03 15:18] naveentherocker opened #131 "Add Codecov in the publiccode.asia"
Add Codecov as code coverage tool just like other FOSSASIA repositories.

I am working on it.

[2018-01-06 10:02] k4ni5h opened #132 "add scroll in language option in video"
currently there is no scroll option in options of languages for subtitle.
I would like to work on this issue.

[2018-01-07 03:47] naveentherocker opened #133 "Add Code of Conduct"
![public](https://user-images.githubusercontent.com/16055010/34646342-8b316e44-f38b-11e7-9acf-15a2c0e91d2b.PNG)

I am working on it

[2018-01-09 09:19] mariobehling commented on #133
FOSSASIA already has a code of conduct. Please avoid this for each repo.

[2018-01-09 09:19] #133 closed

[2018-01-09 09:20] #129 closed

[2018-01-09 17:07] STEdirisuriya commented on #105
@yashNadun Close this issue now!

[2018-01-09 17:13] STEdirisuriya commented on #105
@yashNadun Can you add link on to the site for see it in Sinhala, I missed to add link

[2018-01-09 21:00] YashKumarVerma opened #136 "Code Needs to be formatted"
There are instances where the code is unstructured and needs to be refactored.

[2018-01-13 06:30] abishekvashok opened #138 "Refractor code in deploy.sh"
The code in deploy.sh is unintended. It needs to be properly intended.

[2018-01-13 06:30] abishekvashok commented on #138
working on it

[2018-01-13 07:42] duttaditya18 commented on #131
@naveentherocker Are you working on this or can I work?

[2018-01-13 08:10] duttaditya18 opened #140 "Overlay on the opening of the Support dialog box."
**I am working on it!**

[2018-01-13 12:24] abishekvashok opened #142 "Signed signatures popup not visible over supporting orgs section"
Signed signatures popup not visible over supporting orgs section
![screenshot_20180113_175005](https://user-images.githubusercontent.com/8947010/34906039-bb224bb0-f88a-11e7-9a1c-6e131a0c1005.png)

[2018-01-13 12:24] abishekvashok commented on #142
Working on it

[2018-01-13 15:56] abishekvashok opened #144 "Authentication token blindy put in deploy.sh"
Authenticaion token is blindly present in `deploy.sh` which allows us to get signaturies of even persons who have not voted to be shown.

[2018-01-14 00:55] 0x48piraj commented on #144
Can I do it please, as you did not claimed it ?

[2018-01-14 01:07] 0x48piraj commented on #107
No, It's a very good issue.
I'll do it after GCI Ends. So many algorithms and setups. :smile:

[2018-01-14 03:15] naveentherocker commented on #131
You may work on it @duttaditya18

[2018-01-14 05:09] abishekvashok commented on #144
@0x48piraj maybe we can co-operate on this. What do you say, but let's wait for someone like @mariobehling @hpdang or @fossasia/fossasia-gci to confirm that this was not intentional.

[2018-01-14 06:07] 0x48piraj commented on #144
What was Intentional ? :open_mouth:

[2018-01-15 04:08] Ploypiti opened #146 "Allow choosing language from navbar"
When you click 'Language' you'd be navigated to the footer language section, therefore you'll need to scroll back to where you were, etc. etc. The language nav should allow users to choose language from navbar itself, something like this;

![publiccodess](https://user-images.githubusercontent.com/32614202/34926778-56a11774-f9e4-11e7-8b0f-57cedf24ceb2.jpg)

[2018-01-15 10:34] #136 closed

[2018-01-15 13:05] #142 closed

[2018-01-15 13:07] #140 closed

[2018-01-15 13:07] #138 closed

[2018-01-15 13:53] harsh-jindal commented on #146
@Ploypiti Can I work on this?

[2018-01-15 14:24] Ploypiti commented on #146
Sure @harsh-jindal

[2018-01-15 16:39] harsh-jindal commented on #146
@Ploypiti How do i open the site on my local system to view my changes. And what is {{ content }} in the HTML files?

[2018-01-17 13:20] mariobehling opened #147 "Delete languages not used in Asia"
Please delete:
* French
* Spanish
* Deutsch

[2018-01-17 13:21] mariobehling opened #148 "Fix Donation for Paypal"
The paypal link is not using the latest version of Paypal. Please implement an updated version.

[2018-01-17 13:21] mariobehling opened #149 "Use local logo for Credit Card Donation"
The current logo used in credit card donation is not local. Use a local image instead and ensure the whole logo is easily viewable.

[2018-01-17 13:32] Kanav-7 commented on #147
I would like to work on this

[2018-01-17 13:33] Kanav-7 commented on #149
I would like to work on this

[2018-01-17 14:46] Kanav-7 commented on #148
I would like to work on this

[2018-01-21 18:17] DNS-404 opened #151 "No template for issues and pull requests"
There should be a template for issues and pull requests. Should I make one for each?

[2018-02-08 05:27] #151 closed

[2018-02-17 11:41] #147 closed

[2018-02-17 16:28] #149 closed

[2018-02-18 09:17] #144 closed

[2018-06-15 11:57] nandit123 commented on #95
Hey, can i work on this issue ?

[2018-06-16 10:58] nandit123 commented on #95
hey @mariobehling , i want to work on this issue

[2018-09-06 16:16] pranav1698 commented on #84
I think this issue is resolved

[2018-09-07 11:54] abishekvashok commented on #84
Nope it still exista

[2018-09-08 14:45] sarnava1 commented on #95
@mariobehling @abishekvashok can I work on this issue?

[2018-09-08 19:38] pranav1698 commented on #146
hey @Ploypiti,
I would like to contribute on this issue

[2018-09-12 20:53] lakshaysharma14 commented on #95
@mariobehling @abishekvashok @Orbiter I would like to work on this issue. I am new to open source and I have skills of full stack developer, can I contribute ?

[2018-09-16 15:32] KungFuPanda22 opened #157 "NavBar display in Navbar not correct"
![mobile](https://user-images.githubusercontent.com/31561819/45598099-b9312f80-b9f3-11e8-9a5d-6c78e91c922a.png)

Menu opens while the background is still transparent, have to make the menu background opaque!

[2018-09-20 12:10] Mr-Magnificent opened #158 "Misalignment of icons in navbar on small screens."
**Actual Behaviour**
The navbar is not completely responsive because of fixed width in pixels for "public money" and "public code".
**Intended Behaviour**
The "public money" and "public code" should automatically resize based on screen width.
**Steps to reproduce**
Set screen width smaller than 366px
**Would you like to work on the issue?**
Yes!

[2018-09-20 12:13] Mr-Magnificent commented on #158
![screen shot 2018-09-20 at 17 34 14](https://user-images.githubusercontent.com/23209858/45817534-b2a8fd80-bcfc-11e8-807f-e0791b99e8d8.png)

[2018-09-24 14:19] Devdutt-Shenoi opened #159 "Unable to add signature"
When signing the petition, I receive the below message and am unable to complete the subscription.

[2018-12-09 11:03] plxity opened #163 "On focusing on any input field in "Take action" section blue outline is present."
## Actual Behaviour
![2018-12-09 4](https://user-images.githubusercontent.com/28510494/49696402-77b5b800-fbcf-11e8-86d9-152a7d6c5321.png)

## Intended Behaviour
![2018-12-09 3](https://user-images.githubusercontent.com/28510494/49696407-813f2000-fbcf-11e8-853c-0e521c9b981d.png)

## Steps to reproduce
1) Go to  https://publiccode.asia
2) Jump to take action section
3) Click on any input field.

##

[2018-12-19 17:49] milindsingh opened #165 "Invalid list id"
'Invalid list id' on signing the petition

[2018-12-27 19:18] Aakash-DD opened #166 "Navbar changes it's property on scrolling [Mobile view]"
Navbar changes it's **display property** when scrolled.
At top it is transparent  and
when scrolled down a little or more, it gains color light white...

**Screenshot of issue**

**Step 1 -**

![screenshot 36](https://user-images.githubusercontent.com/33255535/50491774-02087380-0a3a-11e9-95dd-3d2ecca3762a.png)

**Step 2 -**

![screenshot 37](https://user-images.githubusercontent.com/33255535/50491

[2018-12-27 19:19] Aakash-DD commented on #166
**Solution**-  must look like **step 2** UI
where ever the pointer is...

[2018-12-27 19:32] Aakash-DD opened #167 "Sharing Icons can have their official color when hovered"
Social platforms may have color instead of all has given common color which is green when **hovered ** -

**Google +**  -> RED
**LinkedIn**    -> blue
**facebook**    -> Purple
.
.
.

(mean to say their official colors)
which give a more suitable and attractive UI to users.

**Actual behavior -**

**Image 1 -**
![screenshot 41](https://user-images.githubusercontent.com/33255535/50492062-6c6de380-0

[2019-01-07 14:18] roninx991 commented on #163
I'm actually not seeing this error on my browser when I try to reproduce this error. Most probably its your browser setting. Also it is advised by many web developers to not to remove such focus because it is used when people are using the 'TAB' key for jumping to input fields. Personally, I feel we should not remove that focus.

[2019-01-09 17:04] sweezy793 commented on #166
Are you working on this issue ?

[2019-01-24 12:44] harshitjindal commented on #167
@Aakash-DD I want to work on this

[2019-01-28 12:09] mayankag32 opened #168 "Donations amount should be in positive integer."
The Donation amount should be greater than zero.
![image](https://user-images.githubusercontent.com/40797531/51835480-8abd4c80-2323-11e9-886d-c1ae24a75403.png)

[2019-02-15 14:08] imrrahul opened #169 "Read this page in another language is not visible properly"
In the footer the Read this page in another language is not visible properly as it has dark red text color and dark background it should be changes to light colour and on hover it becomes similar to background color.

I would like to solve this issue.

[2019-02-15 14:14] imrrahul opened #170 "Get stickers and Flyers (Download Materials ) link is not working"
As noted by @mariobehling :

I'm closing it. :+1:

_Originally posted by @0x48piraj in https://github.com/fossasia/publiccode.asia/pull/108#issuecomment-353337612_

[2019-02-15 14:16] imrrahul commented on #170
@0x48piraj The above mentioned link is not working **can i work on this issue**? On clicking the button, error 404 is coming .

[2019-02-15 14:43] imrrahul commented on #163
@plxity This is coming in my browser in red color, Actually it is used to help the users in identifying in which text field he is in, if the user user 'TAB' key as told by @Sangatdas , It would suggest we should not remove this feature (as it is actually in red color it is not much visible ).

![screenshot from 2019-02-15 20-10-55](https://user-images.githubusercontent.com/37583853/52863433-de21fe

[2019-03-21 13:04] satya-vinay opened #172 "Removal of Google+ Social icons"
As Announced by [Google](https://timesofindia.indiatimes.com/gadgets-news/google-consumer-accounts-to-be-discontinued-on-april-2-heres-all-you-need-to-know/articleshow/67768585.cms), the Google plus is going shutdown on April 2, 2019 and all accounts and pages will deleted.

**To-Do:**
So before that its better to remove the Google plus social icons from the website.

**Would you like to work on t

[2019-05-04 11:53] edjustice opened #173 "Download Materials goes to https://github.com/fossasia/fossasia-artwork/, which doesnt have the link for downloading content related to publiccode.asia"

[2019-05-04 11:53] #173 closed, assigned to nobody

[2019-05-04 11:54] shivaylamba opened #174 "Download Materials goes to https://github.com/fossasia/fossasia-artwork/, which doesnt have the link for downloading content related to publiccode.asia"

[2019-05-24 18:20] poyea commented on #174
`fossasia/fossasia-artwork` doesn't contain the `PublicCode` material. I'm not sure will they be added there for this site.

[2019-06-28 20:21] saurabhkanswal commented on #172
@satya-vinay look good issue to start with.

[2019-06-28 20:27] saurabhkanswal commented on #168
@mayankag32 I think the issue has been resolved. can you please check again

[2019-06-29 07:05] Avchhikara opened #175 "Scroll to Top button"
Scroll to top button should not be visible when the user is already at the top(shown in the first photo)
![Screen Shot 2019-06-29 at 12 33 44 PM](https://user-images.githubusercontent.com/30333795/60380890-410b9600-9a6a-11e9-8e9a-b293731bca5d.png)
. Rather, it should be visible only when user scrolls down(shown in the second photo).
![Screen Shot 2019-06-29 at 12 34 21 PM](https://user-images.gith

[2019-08-28 16:59] #168 closed, assigned to nobody

[2019-10-09 15:43] maitreyav commented on #175
I'd like to work on this issue, @Avchhikara.

[2019-10-31 00:50] Dishebh commented on #167
If it is up for grabs, can I take it? @harshitjindal @Aakash-DD

[2019-10-31 00:59] Dishebh commented on #84
If it is still up for grabs, can I take it?

[2019-10-31 01:06] Dishebh commented on #47
If it is still up for grabs, can I take it?

[2019-10-31 01:13] Dishebh commented on #166
If it is still up for grabs, can I take it? @Aakash-DD @sweezy793

[2019-10-31 20:46] nzec commented on #84
@Dishebh Sure!

[2019-11-02 10:39] ayushmankumar7 commented on #175
Assign me this

[2019-11-06 07:55] 0x48piraj commented on #47
I didn't made the pull, and I'm not working on it anymore, so if the issue still holds, you can definitely take it!

[2019-11-07 05:14] harshitjindal commented on #167
@Dishebh Okay. I'm on it

[2019-11-10 16:27] urbashi123 commented on #169
@alphamuth I would like to work on this issue, can I?

[2019-11-22 18:36] srishtiBajpai commented on #175
Hey! I would like to work on this issue if not yet resolved.

[2019-12-06 17:20] nitin-1926 opened #181 "Sign Now pop up overlapping navbar and public money, public code showing below each other"
The internal referencing sign now button on the top left side of the website is overlapping with the navbar and the public money, public code written in the navbar are one below another and not parallel
![Screenshot (2)](https://user-images.githubusercontent.com/44253685/70342347-d3666000-187a-11ea-9656-bb3732b15176.png)

[2019-12-06 17:22] nitin-1926 commented on #175
Can I fix this issue if not yet done?

[2019-12-11 11:36] Dishebh commented on #181
![Screenshot from 2019-12-11 17-02-42](https://user-images.githubusercontent.com/43489708/70618197-3f104a80-1c38-11ea-9d8f-6c73c66fe8c1.png)
I see both the public money and public code labels placed beside each other.

[2019-12-11 11:43] Dishebh commented on #158
@Mr-Magnificent Somehow, I don't see the misalignment among the icons. In what aspect ratio are you viewing the site?

[2019-12-18 17:51] Dishebh commented on #166
@Aakash-DD Can't we make the navbar look like the one in https://fossasia.org website?

[2019-12-21 07:31] Dishebh commented on #167
@Aakash-DD Can you pls have a look at the above PR?

[2020-01-04 18:22] nitin-1926 commented on #181
Then maybe it's a issue caused by screen width variation and need some changes in bootstrap.

[2020-01-10 13:27] SARTHAK1SINGH commented on #172
i would like to work on it. could you please assign me this if not completed

[2020-01-10 13:29] SARTHAK1SINGH commented on #181
if this issue it open , then i would like to work on it.

[2020-01-10 13:30] SARTHAK1SINGH commented on #181
please assign me if possible.

[2020-01-10 17:11] Dishebh commented on #181
Okay, I see. That could be possible.

[2020-01-10 17:12] Dishebh commented on #181
If you see the issue still exists, then pls go ahead.

[2020-01-12 20:00] SARTHAK1SINGH commented on #181
Ok , i'll check and if exists try to fix it.

[2020-03-11 06:32] MrGKanev opened #184 ""BG" translation"
I saw that you have a BG translation to your website which should be "Bulgarian" or at least from the [ISO 639-1 standards](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes), but in your website and [repo](https://github.com/fossasia/publiccode.asia/blob/master/site/languages/strings.bg.toml) it is made for "BENGALI" which it should be BN.
Is this something region related (in which case I'm s

[2020-03-25 15:13] Chaitanyassr opened #185 "Back to the top button didnt work when pressed."
Back to the top button did work but slow down for 1st second when pressed. Instead it should make us reach to the top instantly(with smooth scroll) and not slow down at the start.

[2020-04-07 07:31] Neilblaze commented on #185
Can I work upon this?

[2020-04-07 07:33] Chaitanyassr commented on #185
sure , go ahead.

[2020-04-07 16:26] BLasan commented on #166
@Aakash-DD  Can I work on this?

[2020-04-07 16:36] BLasan commented on #132
@k4ni5h  Can I work on this?

[2020-04-07 17:27] Dishebh commented on #166
Go ahead

[2020-05-07 17:12] nlok5923 opened #187 "needed fix in the logo size"
![Screenshot (800)](https://user-images.githubusercontent.com/56120084/81324005-2ff8c180-904b-11ea-93e3-463fdcc4c6ef.png)

Can i work on this issue
please let me know

[2020-05-07 17:15] abishekvashok commented on #187
Yep please

[2020-05-07 17:19] nlok5923 commented on #187
ok  I am working on it

[2020-05-08 02:38] #187 closed, assigned to nobody

[2020-05-10 13:00] khan-rehan commented on #185
Can I work on this?

[2020-05-10 14:26] yash-93 commented on #185
May i fix this? @Chaitanyassr

[2020-05-10 20:24] Chaitanyassr commented on #185
@yash-93 @khan-rehan , This issue is old so it has been fixed now. I would be closing this. You can always work on another issue. Happy contributing.

[2020-05-10 20:24] #185 closed, assigned to nobody

[2020-05-15 18:07] ishandeveloper opened #188 "Navigation bar overlaps content"
### The responsive navigation bar seems to overlap with the 'sign the initiative' box on the top left.

#### Here's a screenshot of the issue :
<details>
<summary>Screenshot</summary>
<img src="https://user-images.githubusercontent.com/54989142/82079439-7c559880-9700-11ea-98e0-c04f0ff20df5.png">
</details>

#### Proposed Changes :

<details>
<summary>Either add a Transparent background to the nav

[2020-05-29 19:53] sparsh-99 commented on #188
@ishandeveloper Bro, I think the screenshot is not uploaded. Look into it:)

[2020-05-30 08:16] ishandeveloper commented on #188
Hey @sparsh-99 , The screenshots are uploaded, man.

You just gave to click on that 'little triangle' to reveal the spoiler details ;)

[2020-06-04 10:59] jyotibalodhi commented on #188
I would want to work on this. Can I?

[2020-06-04 17:16] 2580ayush2580 commented on #188
I can also work on this.
can I ?

[2020-06-16 20:21] anilkumarsoma opened #189 "unable to get translation of web site for orgmanager for fossasia"
https://orgmanager.miguelpiedrafita.com/o/fossasia
this link seems not working

[2020-06-29 18:08] Rudresh22 commented on #47
Hello, can I work on this issue if no one else is working on it?

[2020-07-05 07:22] akash-arelli commented on #172
I would like to work on this issue.

[2020-07-05 08:47] akash-arelli commented on #146
I would like to work this issue. The dropdown list shoes languages in short form which is confusing. I would like to add original languages name in original language.

[2020-07-05 08:55] akash-arelli commented on #146
hi @Ploypiti ,
I would like to work this issue. The dropdown list shoes languages in short form which is confusing. I would like to add original languages name in original language.

[2020-07-23 10:33] ayushsatyam146 commented on #157
I would like to work on this issue @KungFuPanda22

[2020-07-24 06:04] ayushsatyam146 opened #191 "Command mentioned in README for Building the site on local server doesn't work"
Command mentioned in point 4 of the build Section doesn't actually work for building the site on the local server
![Screenshot from 2020-07-24 11-31-28](https://user-images.githubusercontent.com/55888723/88364766-a16e2380-cda1-11ea-8823-b59118c7c3ec.png)

[2020-08-04 07:17] adi-g15 opened #194 "The link provided in TRANSLATE.md is down"
This link has been provided in TRANSLATE.md, at line 11.

That link is [not working](https://isitup.org/orgmanager.miguelpiedrafita.com).
This issue is same as #189 , but it lacked basic details, about where is the problem.

[2020-08-08 22:58] AdityaSharma911 opened #195 "Dropdown and header links misallign in small devices view (below width of 370px)."
![fossasia's publiccode asia](https://user-images.githubusercontent.com/55270982/89721226-add8ba00-d9f8-11ea-9071-0f3e18e8c389.JPG)

This problem was found on a standard device mode.<br> Please assign this issue to me.

[2020-08-11 15:36] vineetkia opened #196 "Orgmanager invitation link expired not working"
The main Orgmanager https://orgmanager.miguelpiedrafita.com/o/fossasia following link have been expired in the readme
and needs to be updated so that people can join without raising any issues or PR for open source contributions.

[2020-08-29 09:43] anilmaurya61 commented on #188
can i work on this issue

[2020-09-01 19:09] avishj commented on #196
The correct link should be: https://community.fossasia.org/

[2020-09-03 14:21] sakshi-pandita-01 commented on #169
Can I work on this issue?

[2020-09-03 14:30] sakshi-pandita-01 commented on #175
can I work on this issue?

[2020-09-05 21:18] #196 closed, assigned to nobody

[2020-09-12 06:53] astromanish opened #197 "In footer section of hindi translation of site.. there is a mistake in one line.."
![Screenshot (15)](https://user-images.githubusercontent.com/57687267/92989405-c48b9880-f4f1-11ea-8c54-a2bca14a14a2.png)
is should be  "योगदान करने के लिए  आपका स्वागत है" instead

[2020-09-12 06:56] astromanish commented on #197
can I work on this silly issue?😅

[2020-10-01 04:10] sanchibansal340 commented on #195
It is not appearing like yours did in my phone but I guess the navbar menu's colour should be changed for better legibility.
![Screenshot_20201001-093444__01](https://user-images.githubusercontent.com/51092036/94767424-ee85fb80-03c9-11eb-9082-24d911fda769.jpg)
![Screenshot_20201001-093501__01](https://user-images.githubusercontent.com/51092036/94767427-ef1e9200-03c9-11eb-802c-69df5d720046.jpg)

[2020-11-22 09:41] anjali1102 commented on #127
taking this issue up

[2020-11-22 09:42] anjali1102 commented on #148
hey @mariobehling  this is similar is #127

[2021-01-17 13:28] jmrchelani opened #204 "Add Urdu (ur) translation"
There is no Urdu translation so I would like to add urdu translation

[2021-01-17 13:39] jmrchelani commented on #204
Working on this

[2021-01-26 08:44] SwapnilSoni1999 commented on #159
Can you tell steps to reproduce?

[2021-02-01 22:28] Umang03 commented on #195
i would like to work on these . plz assign to me

[2021-02-09 18:15] AJOO7 opened #206 "Uncaught ReferenceError: handler is not defined"
**Describe the bug**

when clicked on languge it must redirect to bottom footer but it give  a refernce error and refreshes
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://publiccode.asia/#
2. Click on drop down menu in navbar
3. Scroll down to 'language'
4. click on language
**Expected behaviour**
it must redirect to bottom footer

**Desktop (please complete the following info

[2021-02-22 09:18] SuryanshShahi commented on #197
Hi , I would like to work on this issue

[2021-02-23 04:28] SuryanshShahi commented on #197
@astromanish the changes have been done please review.

[2021-03-01 18:13] demon-99 commented on #195
i would like to work on this issue please assign it to me

[2021-03-01 18:21] demon-99 commented on #204
i would like to work on this issue please assign this to me.

[2021-04-18 20:12] yasharth291 opened #210 "Adding better hover over the buttons"
Current buttons are not having hover over them and adding hover will make it look better with a better experience for the user

 I really like to work on this issue

@mariobehling

[2021-06-15 03:58] ps-19 opened #214 ""Server not found" error."
@mariobehling @jonasob @jordimas @comzeradd @mariobehling
In https://github.com/fossasia/publiccode.asia#getting-involved "First of all, you'll need an account on github.com and become a FOSSASIA "member here" ." "member here" is directing to "server not" found error. URL is broken.

[2021-06-15 12:52] mikini commented on #214
I think I was only involved in the FSFE PMPC repository, where did you find me in this repo?

The link is https://orgmanager.miguelpiedrafita.com/o/fossasia which seems to be to a defunct instance of something called [OrgManager](https://miguelpiedrafita.com/orgmanager) by Miguel Piedrafita at https://miguelpiedrafita.com/.

However, the [fossasia main site](http://fossasia.org/) links [to communi

[2021-06-17 06:49] #214 closed, assigned to nobody

[2021-06-21 14:45] hkumar0132 commented on #210
I am willing to take on this issue. I am just getting started with open source.

[2021-08-31 04:08] AbhishekJamhoriya commented on #210
can i work on this issue @mariobehling  @Pranav Kulshrestha

[2021-08-31 04:08] AbhishekJamhoriya commented on #204
can i work on this issue @mariobehling

[2021-08-31 04:10] AbhishekJamhoriya commented on #188
can i  work on this issue @mariobehling

[2021-11-10 21:11] #197 closed, assigned to nobody